body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    color: aliceblue;

}

@font-face {
    font-family: "Norse Bold";
    src: url("./fonts/norse/Norsebold.otf");
}

.container {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    
}

#left-container {
    flex: 3;
    position: relative;
    background-position: center center;
    background: url(image/space.jpg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Norse Bold";
    font-size: 5.5rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.45);
    margin-top: 20vh;
    padding: 15px 0px;
}

.logo-container img {
    height: 125px;
}

.credit-author {
    align-self: center;
    color: aliceblue;
    font-size: 0.7rem;
}

.credit-author a {
    font-size: 0.7rem;
    color: aliceblue;
}


#right-container {
    flex: 5;
    background-color: #1a1a1a;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    
}

.upper-section {
    margin: 40px 80px 20px 40px;
    
    
}

p {
    max-width: 65ch;
    font-size: large;
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}

.upper-section p:first-child {
    padding-bottom: 20px;
}

.form-content {
    display: flex;
    flex-flow: row wrap;
    row-gap: 20px;
    column-gap: 40px;
    color: white;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 7px 11px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 7px 11px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 7px 11px -1px rgba(0,0,0,0.55);
}

h3 {
    width: 100%;
    font-size: 1.5rem;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 35%;
}



.form-content label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1px;
}

.form-content input {
    box-sizing: border-box;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 4px 8px;
    width: 100%;
    font-size: 1rem;
    /* margin-right: 32px;*/
}

.error {
    display: flex;
    flex-flow: row wrap;
}



button {
    margin-left: 40px;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.log-in {
    
    margin-left: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    color: white;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.log-in a {
    color: white;
    text-decoration: none;
}

input:not(:placeholder-shown)+label{
    opacity: 0;
}

input:invalid:not(:placeholder-shown):not(:focus){
    background: url('./image/wrong.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    outline: 2px solid red;
    outline-offset: -2px;
    background-color:pink;
}

input:valid:not(:placeholder-shown):not(:focus){
    background: url('image/check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-color:rgb(228, 255, 228);
    outline: 2px solid lightgreen;
    outline-offset: -2px;
}

.requirements{
    font-size: 14px;
    max-height: 0px;
    height: 0%;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-style: italic;
    transition: height 0.3s ease-in-out,max-height 0.3s ease-in-out;
}

input:invalid:not(:focus):not(:placeholder-shown)~.requirements{
    height: 100%;
    max-height: 200px;
}





@media only screen and (max-width: 735px) {
    .form-content {
        flex-flow: column nowrap;
        justify-content: center;
        
    }

    .input {
        width: 80%;
    }
}